@{
    ViewBag.Title = "Contact";
}
<h2>İletişim</h2>

<address>
    Celal Bayar Üniversitesi<br />
    Hasan Ferdi Turgutlu Teknoloji Fakültesi<br />
</address>

<address>
    <strong>Mert Durum:</strong> <a>182802046</a><br />
    <strong>Furkan Okuk:</strong> <a>182803023</a>
</address>