@model Terelelli.Models.Entity.Users

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <div class="col">
            <div class="terelelli" style="font-family: Brush Script MT;font-size:200px">Terelelli</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">

            <!--GİRİŞ YAP Button trigger modal -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Giriş Yap
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Giriş Yap</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="container">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">E-Mail</span>
                                        @*<input type="text" class="form-control" placeholder="E-Mail" aria-label="Username" aria-describedby="basic-addon1">*@
                                        @Html.TextBoxFor(m => m.UserMail)
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">Şifre</span>
                                        @*<input type="text" class="form-control" placeholder="Şifre" aria-label="Username" aria-describedby="basic-addon1">*@
                                        @Html.TextBoxFor(m => m.UserPassword)
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark">Giriş Yap</button>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <!--KAYIT OL Button trigger modal-->
            <button type="button" class="btn btn-dark">
                @Html.ActionLink("Kayıt Ol", "Register", "Home")
            </button>
            <!--<a class="btn btn-dark" role="button">@Html.ActionLink("Kayıt Ol", "Register", "Home")</a>-->
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Kayıt Ol</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="container">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">E-Mail</span>
                                    <input type="text" class="form-control" placeholder="E-Mail" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Şifre</span>
                                    <input type="text" class="form-control" placeholder="Şifre" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Kayıt Ol</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

