
@{
    ViewBag.Title = "Kayıt";
}

<div class="container mt-5">
    <div class="row">
        
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Kayıt Ol</h5>
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">E-Mail</span>
                            <input type="text" class="form-control" placeholder="E-Mail" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Şifre</span>
                            <input type="text" class="form-control" placeholder="Şifre" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Kayıt Ol</button>
                </div>
            </div>
        
        
    </div>
</div>

