@model Terelelli.Models.Entity.ProfilePage

@{
    ViewBag.Title = "Profil";
    Terelelli.Models.Entity.ProfilePage data = new Terelelli.Models.Entity.ProfilePage();
}

<div class="container-fluid mt-lg-3 mt-md-3 mt-sm-2">
    
    <!--Menü-->
    <div class="row">

        <div class="container mt-3">
            <div class="row proje">

                <div class="card">
                    <div class="col d-inline-block">

                        <button type="button" style="opacity:0.8;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                            Proje Oluştur
                        </button>

                        <button type="button" style="opacity:0.8;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Projeye Katıl
                        </button>

                    </div>
                </div>

                <!--Proje Ekleme Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post))
                            {
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Proje Oluştur</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="container ">
                                        <div class="row ">
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">Proje Adı</span>
                                                    @*<input type="text" class="form-control" aria-label="Kart_No" aria-describedby="basic-addon1">*@
                                                    @Html.TextBoxFor(m => m.projects.ProjectName)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark">Proje Oluştur</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!--Partner Ekleme Modal-->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @using (Html.BeginForm("JoinProject", "Home", FormMethod.Post))
                            {
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Partner Davet Etme</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="container ">
                                        <div class="row ">
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">Proje Kodu Giriniz</span>
                                                    @*<input type="text" class="form-control" aria-label="Kart_No" aria-describedby="basic-addon1">*@
                                                    @Html.TextBoxFor(m => m.projects.ProjectId);
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark">Projeye Katıl</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!--Liste Ekleme Modal-->
                

            </div>
        </div>   
    </div>

    <!--Projeler-->
    <div class="row mt-lg-3 mt-md-3 mt-sm-2 proje">
        <h4>Projeler</h4>

        @foreach (var p in data.UserProjects(User.Identity.Name))
        {
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@p.ProjectName</h5>
                    <p class="card-text">@p.ProjectStartDate</p>
                    <a href=@Url.Action("Proje", "Home", new { id = p.ProjectId }) class="btn btn-dark" style="opacity:0.9;">Giriş</a>
                    @if (data.GetProjectAuthorId(p.ProjectId).ToString() == User.Identity.Name)
                    {
                        <a class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');" href=@Url.Action("DeleteProject", "Home", new { _projectId = p.ProjectId }) style="opacity:0.9;">Sil</a>
                    }
                </div>
            </div>
        }
    </div>
</div>

