@model Terelelli.Models.Entity.Users
@{
    ViewBag.Title = "Register";
}

<div class="container mt-5">
    <div class="row">
        <div class="card">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
                <div class="card-header">
                    <h5 class="card-title">Kayıt Ol</h5>
                </div>

                <div class="card-body">
                    <div class="container">
                        <label>@ViewBag.Message</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">E-Mail</span>
                            @Html.TextBoxFor(m => m.UserMail)
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Kullanıcı Adı</span>
                            @Html.TextBoxFor(m => m.UserName)
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Şifre</span>
                            @Html.TextBoxFor(m => m.UserPassword)
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-dark">Kayıt Ol</button>
                </div>
             }
        </div>
    </div>
</div>

